body {
  background-color: #ffffff;
  color: #000000;
  font-size:16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

h1 {
  font-size:3em;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight:500;

}

p {
  line-height: 1.5em;
  padding-bottom: 20px;
}

figure {
  text-align: center;

}

.images {
    background-image: url(../images/instagram-pic.jpg);
    width:600px;
    height:600px;
    background-size: contain;
    display: inline-block;
}

.author {
  font-size:1.2em;
  padding-bottom:20px;
  text-align: right;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left {
  background-image: url(../images/bloc-logo.png);
  width: 160px;
  margin: 20px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  float:left;
}



.right {
  float: right;
}


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color:#dee5ef;
}

a:visited {
  color: #000000;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
